body {
	background: #9B8F89;
}

header {
	margin: 0 auto;
	text-align: center;
  text-transform: uppercase;
  color: #969194;
  font-family: 'Open Sans';
  font-size: .7em;
}

#calculator {
	width: 250px;
	margin: 0 auto;
	background: #F3EEE7;
	padding: 20px 20px;
}

#screen {
	width: 214px;
	margin: 10px auto;
	background: #C7C7AF;
	border-radius: 5px;
	height: 35px;
	box-shadow: inset 0px -2px 10px #b2b292;
  border: 1px solid #b2b292;
}

#total {
	text-align: right;
	color: #545454;
	padding: 0 4px;
  line-height: 40px;
	font-size: 2em;
	margin-top: -1px;
	font-family: 'Montserrat';
}

#buttons {
	text-align: center;
}

.button {
	display: inline-block;
	width: 40px;
	background: #3B3644;
	color: #FFFFFF;
	margin: 3px 5px;
	text-align: center;
	cursor: pointer;
}

.clear {
	background: #C44657;
}